{% extends "base.html" %}
{% block start%}

<a href="/home/">
    home
  </a>
  |
  <a href="/contact/">
    contact
  </a>


    <h3 style="background:#f0f8ff" >✅This is about page</h3>

    
    <h3 style="background:pink">✅ Django: The web framework for perfectionists with deadlines. </h3>

    <h4 style="background:#f0f8ff">🏵️Django is a back-end server side web framework.

        🏵️Django is free, open source and written in Python.
        
        🏵️Django makes it easier to build web pages using Python.
        
        </h4>


      <p style="background:pink" >

        ✅Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel
      
    </p>
    
      {% endblock %}