{% extends "base.html" %}
{% block start%}


    
 
    <a href="/home/">
        home
      </a>
    | 
      <a href="/about/">
        about
      </a>

      <h1 style="background:green">✅This is contact page</h1>

      <h2> 🌼 🌼 🌼 🌼    Contact Sales  🌼 🌼 🌼 🌼</h2>
      <p style="background:yellow">

        😊 If you want to use W3Schools services as an educational institution, team or enterprise, send us an e-mail:
        sales@w3schools.com

     <h2 style="background:green"> 🌼 🌼 🌼 🌼    Report Error 🌼 🌼 🌼 🌼    </h2>
        😊If you want to report an error, or if you want to make a suggestion, send us an e-mail:
            help@w3schools.com
      </p>
  
    
{% endblock %}
